.greeting {
    display: flex;
    flex-direction: row;
}
.greeting-wrapper {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 2rem;
    justify-content: center; */
    display: flex;
    flex-direction: row;
  }

.greeting-item-1 {
background-color: rgba(255, 255, 255, 0.9);
border:2px solid rgb(255, 255, 255);
display: flex;
flex:1;
flex-direction: column;
justify-content: center;
align-items: center;
color: rgb(4, 79, 6);
}

